@import "./base/base";
@import "./utils/variables";

body
{
  margin: auto;
}

header
{
  background-color: $blanc;
  display: flex;
  margin-top: 5%;
  .fleche
  {
    margin-left: 5%;
    i{
      color: $noir;
      font-size: 1.5em;
    }
  }
  .logo
  {
    text-align: center;
    img
    {
      @include taille_image(50%,70%);
    }
  }
}

main
{
  img
  {
    @include taille_image(100%,20%);
    @include marge(0%,0%,0%,0);
  }
  .taille
  {
    height: 300px;
  }
}

.section_principale
{
  background-color: $gris-clair;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  @include padding(4%,4%,10%,4%);
  @include marge(-20px,0%,0%,0%);
  position: relative;
  .titre
  {
    display: flex;
    justify-content: space-between;
    h1
    {
      font-family: $shrikhand;
      font-size: 160%;
    }
    .coeur {
      position: relative;
      margin-top: 8%;
      margin-right: 6%;
      .fas {
        opacity: 0;
        transition: all 0.2s linear;
        background: linear-gradient($violet,$rose);
        //pour enlever ce qui est en trop
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        transform: scale(1.1);
        &:hover {
          opacity: 1;
          animation: 0.8s 0s 1 both transition;
          cursor: pointer;
          @keyframes transition {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
        }
      }
    }
    .coeur .fas,
    .coeur .far {
      position: absolute;
      font-size: larger;
      color: $noir;
      margin-top: -20%;
    }
  }
  .type
  {
    font-family: $roboto;
    @include padding(0,0,0,0);
    @include marge(0%,89%,0%,0%);
  }
  .underline{
    background-color: $vert;
    height: 2px;
    width: 40px;
  }
  .extra_marge
  {
    
    @include marge(10%,89%,0%,0%);
    
  }
  .menu{
    background-color: $blanc;
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    border-radius: 15px;    
    padding-left: 2%;
    margin-top: 3%;
    margin-bottom: 4%;
    overflow: hidden;
    .prix
    {
      font-family: $roboto;
      font-weight: 800;
      margin-right: 5%;
      padding-left: 10%;
      }
    .description
    {
      font-family: $roboto;
      padding-left: 2%;
      @include overflow;
      width: 220px;
      h4
      {
        margin-bottom: 0%;
        @include overflow;
        font-size: 1rem;
      }
      p
      {
        margin-top: 1%;
        font-size: 0.8em;
        @include overflow;
      }
    }
    .check{
      display: none;
      text-align: center;
      align-items: center;
      padding-top: 40px;
      height: 100%;
      background-color: $vert;
      i{
          font-size: 20px;
          color: $blanc;
          animation: rotate 700ms;
      }
    }
    &:hover{
      cursor: pointer;
      @keyframes slide {
        0%{width: 0%;}
        100%{width: 25%;}
      }
      @keyframes rotate {
        from {transform: rotate(0deg);}
        to  {transform: rotate(360deg);}
      }
      .check{
        display: block;
        animation: slide 600ms ease-in-out forwards;   
      }
    }
  }
  button
  {
    @include marge(10%,25% ,0 ,25%);
    @include padding(4%,10% ,4% ,10% );
    border-radius: 30px;
    font-family: $roboto;
    font-weight: 900;
    color: $blanc;
    background: linear-gradient(to right,$rose, $violet);
    border: none;
    &:hover
    {
      filter: brightness(120%);
      box-shadow: 2px 2px 12px $gris-noir;
      cursor: pointer;
    }
  }
}

 @keyframes apparition_menu {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }
.entrees{
  animation: 1s 1s 1 both apparition_menu;
}
.plats{
  animation: 1s 3s 1 both apparition_menu;
}
.desserts{
  animation: 1s 5s 1 both apparition_menu;
}

.top_marge
{
  @include marge(-40%,0%,0%,0%);
}

footer
{
  background-color:$gris-noir;
  @include padding(5%,0,5%,0);
  h3
  {
    font-family: $shrikhand;
    color: $blanc;
    margin-left: 40px;
  }
  li
  {
    list-style-type: none;
    font-family: $roboto;
    color: $blanc;
    font-size: 80%;
    margin-bottom: 3%;
    i
    {
      @include marge(0,4%,0,0);
    }
    a
    {
      text-decoration: none;
      font-family: $roboto;
      color: $blanc;
    }
  }

}

/*pour ordinateur*/
@media screen and (min-width : 992px)
{
  header
  {
    margin-top: 1%;
    .logo
    {
      img
      {
        @include taille_image(60%,70%);
      }
    }
  }
  main
  {
    img
    {
      height: 600px;
      
    }
    .taille
    {
      height: 800px;
    }
  }
  .section_principale
  {
    @include padding(4%,6%,4%,6%);
    margin-top: -10%;
    .titre
    {
      .coeur
      {
        margin-top: 3%;
      }
    }
    .extra_marge
    {
      
      @include marge(5%,89%,0%,0%);
      
    }
    .menu
    {
      h4
      {
        margin-bottom: -1%;
        
      }
      .description{
        width: auto;
      }
    }
    button
    {
      @include marge(5%,40% ,0,40%);
      @include padding(2%,5%,2% ,5% );
    }
    
  }
  footer
  {
    @include padding(2%, 0 ,2% ,0 );
    h3
    {
      font-size: 160%;
    }
    li
    {
      font-size: 100%;
      i
      {
       margin-right: 1%;
      }
    }
  }
}

//pour tablette
@media screen and  (min-width : 766px) and (max-width : 991px)
{
  header
  {
    .fleche
    {
      i{
        font-size: 170%;
        font-size: 2em;
      }
    }
    .logo
    {
      img
      {
        @include taille_image(80%,60%);
      }
    }
  }
  main
  {
    img
    {
      @include taille_image(100%,10%);
    }
    .taille
    {
      height: 500px;
    }
  }
  .section_principale
  {
    @include padding(4%,6%,4%,6%);
    margin-top: -10%;
    .titre
    {
      .coeur
      {
        margin-top: 3%;
      }
    }
    .extra_marge
    {
      
      @include marge(5%,89%,0%,0%);
      
    }
    .menu
    {
      h4
      {
        margin-bottom: -1%;
      }
      .description{
        width: auto;
      }
    }
    button
    {
      @include marge(5%,40% ,0,40%);
      @include padding(2%,5%,2% ,5% );
    }
    
  }
  footer
  {
    @include padding(2%, 0 ,2% ,0 );
    h3
    {
      font-size: 160%;
    }
    li
    {
      font-size: 100%;
    }
  }
}


