@import "./base/base";
@import "./utils/variables";

body
{
  margin: auto;
}

header
{
  background-color: $blanc;
  position: absolute;
  @include marge(0,0,4%,0);
  .fleche
  {
    i{
      @include marge(7%,0,0%,5%);
      color: $noir;
    }
  }
  .logo
  {
    @include position_centre;
    img
    {
      @include taille_image(40%,30%);
      @include marge(-5%,0,0%,0%);
    }
  }
}

main
{
  img
  {
    @include taille_image(100%,20%);
    @include marge(0%,0%,0%,0);
  }
  .image_small
  {
    @include marge(-10%,0%,0%,0);
  }
}

.section_principale
{
  background-color: $gris-clair;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  @include padding(4%,6%,10%,6%);
  @include marge(-12%,0%,0%,0%);
  position: relative;
  .titre
  {
    display: flex;
    justify-content: space-between;
    h1
    {
      font-family: $shrikhand;
      font-size: 160%;
    }
    .coeur {
      position: relative;
      margin-top: 8%;
      margin-right: 6%;
      .fas {
        opacity: 0;
        transition: all 0.2s linear;
        background: linear-gradient($violet,$rose);
        //pour enlever ce qui est en trop
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        transform: scale(1.1);
        &:hover {
          opacity: 1;
          animation: 0.8s 0s 1 both transition;
          @keyframes transition {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
        }
      }
    }
    .coeur .fas,
    .coeur .far {
      position: absolute;
      font-size: larger;
      color: $noir;
      margin-top: -20%;
    }
  }
  .type
  {
    font-family: $roboto;
    border-bottom: 2px solid $vert;
    @include padding(0,0,0,0);
    @include marge(0%,89%,0%,0%);
  }
  .extra_marge
  {
    
    @include marge(10%,89%,0%,0%);
    
  }
  .menu
  {
    font-family: $roboto;
    background-color: $blanc;
    border-radius: 10px;
    @include padding(0%,4%,1%,3%);
    box-shadow: 1px 1px 8px $gris;
    @include marge(0,-1%,0,-1%);
    h4
    {
      margin-bottom: -3%;
      padding-top: 3%;
      padding-right: 20%;
      font-weight: 800;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .prix_accompagnement
    {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .menu_accompagnement
      {
        font-size: 90%;
        width:270px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .menu_prix{
        transition: transform 530ms;
      }
    }
    .check{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $vert;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      position: absolute;
      padding: 7%;
      padding-top:8%;
      @include marge(-19%,0%,0%,70%);
      i{
        color: $blanc;
        font-size: large;
        transition: transform 530ms;
      }
      opacity: 0;
      transition: transform 530ms ease-in-out;
    }
    &:hover{
      .check{
        opacity: 1;
        transform: translate(-6%);
        i{
          transform: rotate(360deg);
        }
      }
      .prix_accompagnement{
        .menu_prix{
          transform: translate(-300%);
        }
        .menu_accompagnement{
          width:180px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      h4{
        width:180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  button
  {
    @include marge(10%,25% ,0 ,25%);
    @include padding(4%,10% ,4% ,10% );
    border-radius: 30px;
    font-family: $roboto;
    font-weight: 900;
    color: $blanc;
    background: linear-gradient(to right,$rose, $violet);
    border: none;
    &:hover
    {
      filter: brightness(120%);
      box-shadow: 2px 2px 12px $gris-noir;
    }
  }
  
}

 @keyframes apparition_menu {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }
.entrees{
  animation: 1s 1s 1 both apparition_menu;
}
.plats{
  animation: 1s 3s 1 both apparition_menu;
}
.desserts{
  animation: 1s 5s 1 both apparition_menu;
}

.top_marge
{
  @include marge(-40%,0%,0%,0%);
}

footer
{
  background-color:$gris-noir;
  @include padding(5%, 0 ,5% ,0 );
  h3
  {
    font-family: $shrikhand;
    color: $blanc;
    @include marge(0,0,0 ,10% );

  }
  li
  {
    list-style-type: none;
    font-family: $roboto;
    color: $blanc;
    font-size: 80%;
    @include marge(0,0,3%,0);
    i
    {
      @include marge(0,4% ,0,0 );
    }
    a
    {
      text-decoration: none;
      font-family: $roboto;
      color: $blanc;
    }
  }

}

/*pour ordinateur*/
@media screen and (min-width : 992px)
{
  header
  {
    @include marge(0,0,10%,0);
    @include padding(0,70%,1%,10%);
    .fleche
    {
      i{
        @include marge(9%,0,0%,-40%);
        font-size: 170%;
      }
    }
    .logo
    {
      img
      {
        @include taille_image(60%,50%);
        @include marge(-7%,60%,0%,0%);

      }
    }
  }
  main
  {
    img
    {
      @include taille_image(100%,10%);
      @include marge(-20%,0%,0%,0);
    }
    .image_small
    {
      @include marge(-50%,0%,0%,0);
    }
  }
  .section_principale
  {
    @include padding(4%,6%,4%,6%);
    .titre
    {
      .coeur
      {
        margin-top: 3%;
      }
    }
    .extra_marge
    {
      
      @include marge(5%,89%,0%,0%);
      
    }
    .menu
    {
      h4
      {
        margin-bottom: -1%;
        
      }
      .check{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $vert;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        padding: 3%;
        @include marge(-6.4%,0%,0%,80.5%);
        i{
          color: $blanc;
          font-size: larger;
          transition: transform 530ms;
        }
        opacity: 0;
        transition: transform 530ms ease-in-out;
      }
      &:hover{
        h4{
          width:270px;
        }
        .prix_accompagnement{
          .menu_accompagnement{
            width:270px;
          }
        }
      }
    }
    button
    {
      @include marge(5%,40% ,0,40%);
      @include padding(2%,5%,2% ,5% );
    }
    
  }
  footer
  {
    @include padding(2%, 0 ,1% ,0 );
    h3
    {
      @include marge(0,0,2% ,3% );
      font-size: 150%;

    }
    li
    {
      font-size: 100%;
      i
      {
        @include marge(0,1% ,0,0 );
      }
    }

  }
}

//pour tablette
@media screen and  (min-width : 766px) and (max-width : 991px)
{
  header
  {
    @include marge(0,0,10%,0);
    @include padding(0,70%,1%,10%);
    .fleche
    {
      i{
        @include marge(9%,0,0%,-40%);
        font-size: 170%;
      }
    }
    .logo
    {
      img
      {
        @include taille_image(100%,80%);
        @include marge(-7%,0%,0%,50%);

      }
    }
  }
  main
  {
    img
    {
      @include taille_image(100%,10%);
      @include marge(-20%,0%,0%,0);
    }
    .image_small
    {
      @include marge(-50%,0%,0%,0);
    }
  }
  .section_principale
  {
    @include padding(4%,6%,4%,6%);
    .titre
    {
      .coeur
      {
        margin-top: 3%;
      }
    }
    .extra_marge
    {
      
      @include marge(5%,89%,0%,0%);
      
    }
    .menu
    {
      h4
      {
        margin-bottom: -1%;
      }
      .check{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $vert;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        padding: 5%;
        @include marge(-11%,0%,0%,76%);
        i{
          color: $blanc;
          font-size: larger;
          transition: transform 530ms;
        }
        opacity: 0;
        transition: transform 530ms ease-in-out;
      }
    }
    button
    {
      @include marge(5%,40% ,0,40%);
      @include padding(2%,5%,2% ,5% );
    }
    
  }
  footer
  {
    @include padding(2%, 0 ,1% ,0 );
    h3
    {
      @include marge(0,0,2% ,3% );
      font-size: 150%;

    }
    li
    {
      font-size: 100%;
      i
      {
        @include marge(0,1% ,0,0 );
      }
    }

  }
}


