body {
  margin: auto;
  position: relative;
  opacity: 0;
  -webkit-animation: test 4s 1;
          animation: test 4s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes test {
  to {
    opacity: 1;
  }
}

@keyframes test {
  to {
    opacity: 1;
  }
}

/*loading spinner de la page principale*/
body .spinner {
  content: "";
  position: absolute;
  margin-top: 60%;
  margin-left: 25%;
  border: 15px solid #DEDADA;
  border-top: 15px solid #9356DC;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  -webkit-animation: loading 2s 2;
          animation: loading 2s 2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes loading {
  to {
    visibility: hidden;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  to {
    visibility: hidden;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header {
  background-color: #fff;
  -webkit-box-shadow: 2px 12px 12px -10px #9C9B82;
          box-shadow: 2px 12px 12px -10px #9C9B82;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo img {
  width: 50%;
  height: 30%;
  margin-top: 5%;
  margin-right: 0;
  margin-bottom: 5%;
  margin-left: 0;
}

header .localisation {
  background-color: #DEDADA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .localisation p {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 110%;
}

header .localisation i {
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 0;
  margin-left: -10%;
}

.presentation_page {
  font-family: "Roboto", sans-serif;
  background-color: #F3F1F1;
  padding-top: 3%;
  padding-right: 0;
  padding-bottom: 12%;
  padding-left: 0;
}

.presentation_page h1 {
  font-weight: 800;
  font-size: 130%;
  margin-top: 5%;
  margin-right: 20%;
  margin-bottom: 5%;
  margin-left: 20%;
  text-align: center;
}

.presentation_page p {
  font-size: 110%;
  margin-top: 0%;
  margin-right: 5%;
  margin-bottom: 6%;
  margin-left: 5%;
  text-align: center;
}

.presentation_page button {
  margin: auto;
  display: block;
  padding-top: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 90%;
  background: -webkit-gradient(linear, left top, right top, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to right, #FF79DA, #9356DC);
  border: none;
  -webkit-box-shadow: 2px 2px 12px #aaa;
          box-shadow: 2px 2px 12px #aaa;
}

.presentation_page button:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-box-shadow: 2px 2px 12px #484949;
          box-shadow: 2px 2px 12px #484949;
}

.fonctionnement {
  font-family: "Roboto", sans-serif;
}

.fonctionnement h1 {
  font-weight: 800;
  font-size: 130%;
  margin-top: 8%;
  margin-right: 0;
  margin-bottom: 5%;
  margin-left: 5%;
}

.fonctionnement .choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
  margin: auto;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 8%;
  margin-left: 0;
}

.fonctionnement .choix .numero p {
  font-size: 90%;
  background-color: #9356DC;
  color: #fff;
  border-radius: 100px;
  position: absolute;
  margin-top: 4%;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 5%;
  padding-top: 2%;
  padding-right: 3%;
  padding-bottom: 2%;
  padding-left: 3%;
  text-align: center;
}

.fonctionnement .choix .bulle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-right: 8%;
  margin-bottom: 0;
  margin-left: 8%;
  border-radius: 20px;
  background-color: #F3F1F1;
  padding-top: 3%;
  padding-right: 0%;
  padding-bottom: 3%;
  padding-left: 15%;
  -webkit-box-shadow: 1px 1px 8px #aaa;
          box-shadow: 1px 1px 8px #aaa;
}

.fonctionnement .choix .bulle p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 90%;
  font-weight: 800;
}

.fonctionnement .choix .bulle i {
  margin-top: 6%;
  margin-right: 10%;
  margin-bottom: 0%;
  margin-left: -10%;
  color: #989696;
}

.fonctionnement .choix .bulle:hover {
  background-color: #f5edff;
}

.fonctionnement .choix .bulle:hover i {
  color: #9356DC;
}

.restaurants {
  font-family: "Roboto", sans-serif;
  background-color: #F3F1F1;
  padding-top: 5%;
  padding-right: 0;
  padding-bottom: 5%;
  padding-left: 0;
}

.restaurants a {
  text-decoration: none;
}

.restaurants .lien_resto {
  padding-right: 30%;
}

.restaurants h1 {
  font-weight: 800;
  font-size: 130%;
  margin-top: 8%;
  margin-right: 0;
  margin-bottom: 6%;
  margin-left: 5%;
}

.restaurants .carte_restaurant {
  width: 340px;
  height: 200px;
  margin: auto;
  margin-bottom: 20%;
}

.restaurants .carte_restaurant img {
  width: 340px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.restaurants .carte_restaurant .nouveau {
  margin-top: 4%;
  margin-right: 10%;
  margin-bottom: 0;
  margin-left: 70%;
}

.restaurants .carte_restaurant .nouveau p {
  font-size: 80%;
  color: #2ABEA4;
  background-color: #99E2D0;
  font-weight: 800;
  padding-top: 2%;
  padding-right: 4%;
  padding-bottom: 2%;
  padding-left: 4%;
  position: absolute;
}

.restaurants .carte_restaurant .detail_restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #fff;
  position: relative;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: auto;
  margin-top: -10%;
}

.restaurants .carte_restaurant .detail_restaurant .texte_restaurant {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 90%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: -60%;
  padding-top: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  padding-left: 10%;
}

.restaurants .carte_restaurant .detail_restaurant .texte_restaurant p {
  margin-top: -10%;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0%;
  padding-right: 0%;
  padding-bottom: 15%;
  padding-left: 0%;
}

.restaurants .carte_restaurant .detail_restaurant .coeur {
  position: absolute;
  margin-top: 7%;
  margin-left: 70%;
}

.restaurants .carte_restaurant .detail_restaurant .coeur .fas {
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.restaurants .carte_restaurant .detail_restaurant .coeur .fas:hover {
  opacity: 1;
  -webkit-animation: 0.8s 0s 1 both transition;
          animation: 0.8s 0s 1 both transition;
}

@-webkit-keyframes transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.restaurants .carte_restaurant .detail_restaurant .coeur .fas,
.restaurants .carte_restaurant .detail_restaurant .coeur .far {
  position: absolute;
  font-size: larger;
  color: black;
  margin-top: -20%;
}

footer {
  background-color: #484949;
  padding-top: 5%;
  padding-right: 0;
  padding-bottom: 5%;
  padding-left: 0;
}

footer h3 {
  font-family: "Shrikhand", cursive;
  color: #fff;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 10%;
}

footer li {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 80%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 3%;
  margin-left: 0;
}

footer li i {
  margin-top: 0;
  margin-right: 4%;
  margin-bottom: 0;
  margin-left: 0;
}

footer li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

@media screen and (min-width: 992px) {
  body .spinner {
    margin-left: 43%;
    margin-top: 20%;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .logo img {
    margin-top: 10%;
    margin-right: 0;
    margin-bottom: 7%;
    margin-left: 15%;
    width: 50%;
    height: 40%;
  }
  header .localisation {
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 0;
    margin-left: 10%;
    background-color: #fff;
  }
  header .localisation i {
    margin-top: 16%;
    margin-right: 10%;
    margin-bottom: 0;
    margin-left: -10%;
  }
  .presentation_page {
    padding-top: 3%;
    padding-right: 0;
    padding-bottom: 3%;
    padding-left: 0;
  }
  .presentation_page h1, .presentation_page p {
    margin: auto;
    margin-bottom: 2%;
  }
  .presentation_page button {
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
  }
  .fonctionnement h1 {
    margin-top: 2%;
    margin-right: 0;
    margin-bottom: 3%;
    margin-left: 45%;
  }
  .fonctionnement .choix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 2%;
    margin-left: 38%;
  }
  .fonctionnement .choix .numero p {
    margin-top: 0.5%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 2%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
  }
  .fonctionnement .choix .bulle {
    margin-top: 0;
    margin-right: 2%;
    margin-bottom: 0;
    margin-left: 5%;
    padding-top: 1%;
    padding-right: 10%;
    padding-bottom: 1%;
    padding-left: 6%;
  }
  .fonctionnement .choix .bulle i {
    margin-top: 9%;
    margin-right: 10%;
    margin-bottom: 0%;
    margin-left: -10%;
  }
  .restaurants {
    padding-top: 1%;
    padding-right: 0;
    padding-bottom: 1%;
    padding-left: 0;
  }
  .restaurants h1 {
    margin-top: 2%;
    margin-right: 0;
    margin-bottom: 2%;
    margin-left: 45%;
  }
  .restaurants .carte_restaurant {
    height: 400px;
    width: 600px;
    margin-bottom: 5%;
  }
  .restaurants .carte_restaurant img {
    height: 400px;
    width: 600px;
  }
  .restaurants .carte_restaurant .nouveau {
    margin-top: 2%;
    margin-right: 10%;
    margin-bottom: 0;
    margin-left: 75%;
  }
  .restaurants .carte_restaurant .nouveau p {
    padding-top: 1%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-left: 2%;
  }
  .restaurants .carte_restaurant .detail_restaurant .texte_restaurant {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: -60%;
    padding-top: 1%;
    padding-right: 0%;
    padding-bottom: 1%;
    padding-left: 0%;
    font-size: 110%;
  }
  .restaurants .carte_restaurant .detail_restaurant .texte_restaurant p {
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 15%;
    padding-left: 0%;
  }
  .restaurants .carte_restaurant .detail_restaurant .coeur {
    position: absolute;
    margin-top: 5%;
    margin-left: 80%;
  }
  .restaurants .carte_restaurant .detail_restaurant .coeur .fas {
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .restaurants .carte_restaurant .detail_restaurant .coeur .fas:hover {
    opacity: 1;
    -webkit-animation: 0.8s 0s 1 both transition;
            animation: 0.8s 0s 1 both transition;
  }
  @-webkit-keyframes transition {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes transition {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .restaurants .carte_restaurant .detail_restaurant .coeur .fas,
  .restaurants .carte_restaurant .detail_restaurant .coeur .far {
    position: absolute;
    font-size: larger;
    color: black;
    margin-top: -20%;
  }
  footer {
    padding-top: 2%;
    padding-right: 0;
    padding-bottom: 2%;
    padding-left: 0;
  }
  footer h3 {
    font-size: 160%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 2%;
    margin-left: 2%;
  }
  footer li {
    font-size: 100%;
  }
  footer li i {
    margin-top: 0;
    margin-right: 1%;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 766px) and (max-width: 991px) {
  body .spinner {
    margin-left: 35%;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .logo img {
    margin-top: 10%;
    margin-right: 0;
    margin-bottom: 7%;
    margin-left: 0%;
    width: 40%;
    height: 40%;
  }
  header .localisation {
    margin-top: 4%;
    margin-right: 10%;
    margin-bottom: 0;
    margin-left: 0%;
    background-color: #fff;
  }
  header .localisation i {
    margin-top: 16%;
    margin-right: 10%;
    margin-bottom: 0;
    margin-left: -10%;
  }
  .presentation_page {
    padding-top: 3%;
    padding-right: 0;
    padding-bottom: 3%;
    padding-left: 0;
  }
  .presentation_page h1, .presentation_page p {
    margin: auto;
    margin-bottom: 2%;
  }
  .presentation_page button {
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
  }
  .fonctionnement h1 {
    text-align: center;
    margin-top: 2%;
    margin-right: 0;
    margin-bottom: 3%;
    margin-left: 0;
  }
  .fonctionnement .choix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-right: 0%;
    margin-bottom: 2%;
    margin-left: 30%;
  }
  .fonctionnement .choix .numero p {
    margin-top: 1%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 2%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
  }
  .fonctionnement .choix .bulle {
    margin-top: 0;
    margin-right: 2%;
    margin-bottom: 0;
    margin-left: 5%;
    padding-top: 1%;
    padding-right: 10%;
    padding-bottom: 1%;
    padding-left: 10%;
  }
  .fonctionnement .choix .bulle i {
    margin-top: 9%;
    margin-right: 10%;
    margin-bottom: 0%;
    margin-left: -10%;
  }
  .restaurants {
    padding-top: 1%;
    padding-right: 0;
    padding-bottom: 1%;
    padding-left: 0;
  }
  .restaurants h1 {
    margin-top: 2%;
    margin-right: 0;
    margin-bottom: 2%;
    margin-left: 45%;
  }
  .restaurants .carte_restaurant {
    height: 400px;
    width: 600px;
    margin-bottom: 15%;
  }
  .restaurants .carte_restaurant img {
    height: 400px;
    width: 600px;
  }
  .restaurants .carte_restaurant .nouveau {
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 0;
    margin-left: 75%;
  }
  .restaurants .carte_restaurant .nouveau p {
    padding-top: 2%;
    padding-right: 3%;
    padding-bottom: 2%;
    padding-left: 3%;
  }
  .restaurants .carte_restaurant .detail_restaurant .texte_restaurant {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: -60%;
    padding-top: 1%;
    padding-right: 0%;
    padding-bottom: 1%;
    padding-left: 0%;
    font-size: 110%;
  }
  .restaurants .carte_restaurant .detail_restaurant .texte_restaurant p {
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 15%;
    padding-left: 0%;
  }
  .restaurants .carte_restaurant .detail_restaurant .coeur {
    margin-left: 80%;
  }
  footer {
    padding-top: 2%;
    padding-right: 0;
    padding-bottom: 2%;
    padding-left: 0;
  }
  footer h3 {
    font-size: 160%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 2%;
    margin-left: 2%;
  }
  footer li {
    font-size: 100%;
  }
  footer li i {
    margin-top: 0;
    margin-right: 1%;
    margin-bottom: 0;
    margin-left: 0;
  }
}
/*# sourceMappingURL=page_principale.css.map */