@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap');

@import "./base/base";
@import "./utils/variables";

body
{
  margin: auto;
}

header
{
  background-color: $blanc;
  @include marge(0,0,10%,0);
  @include padding(0,70%,4%,10%);
  position: absolute;
  .fleche
  {
    i{
      @include marge(9%,0,0%,-40%);
      font-size: 170%;
      color: $noir;
    }
  }
  .logo
  {
    @include position_centre;
    img
    {
      @include taille_image(100%,80%);
      @include marge(-7%,60%,0%,350%);

    }
  }
}

main
{
  img
  {
    @include taille_image(100%,10%);
    @include marge(-10%,0%,0%,0);
  }
  .image_small
  {
    @include marge(-40%,0%,0%,0);
  }
}

.section_principale
{
  background-color: $gris-clair;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  @include padding(4%,6%,2%,6%);
  @include marge(-12%,0%,0%,0%);
  position: relative;
  .titre
  {
    display: flex;
    justify-content: space-between;
    h1
    {
      font-family: $shrikhand;
      font-size: 160%;
    }
    i
    {
      font-size: 140%;
      @include marge(2%,0%,0%,0%);

    }
  }
  .type
  {
    font-family: $roboto;
    border-bottom: 2px solid $vert;
    @include padding(0,0,0,0);
    @include marge(2%,89%,0%,0%);
  }
  .extra_marge
  {
    
    @include marge(5%,89%,0%,0%);
    
  }
  .menu
  {
    font-family: $roboto;
    background-color: $blanc;
    border-radius: 10px;
    @include padding(0%,4%,1%,3%);
    box-shadow: 1px 1px 8px $gris;
    @include marge(0,-1%,0,-1%);
    h4
    {
      margin-bottom: -1%;
      padding-top: 3%;
      padding-right: 30%;
    }
    p
    {
      font-size: 90%;
    }
    .prix_accompagnement
    {
      display: flex;
      justify-content: space-between;
    }
  }
  button
  {
    @include marge(5%,40% ,0,40%);
    @include padding(2%,5%,2% ,5% );
    border-radius: 30px;
    font-family: $roboto;
    font-weight: 900;
    color: $blanc;
    font-size: 100%;
    background: linear-gradient(to right,$rose, $violet);
    border: none;
    &:hover
    {
      filter: brightness(120%);
      box-shadow: 2px 2px 12px $gris-noir;
    }
  }
  
}

.top_marge
{
  @include marge(-40%,0%,0%,0%);
}

footer
{
  background-color:$gris-noir;
  @include padding(2%, 0 ,1% ,0 );
  h3
  {
    font-family: $shrikhand;
    color: $blanc;
    @include marge(0,0,2% ,3% );
    font-size: 150%;

  }
  li
  {
    list-style-type: none;
    font-family: $roboto;
    color: $blanc;
    font-size: 100%;
    @include marge(0,0,3%,0);
    i
    {
      @include marge(0,1% ,0,0 );
    }
    a
    {
      text-decoration: none;
      font-family: $roboto;
      color: $blanc;
    }
  }

}


