@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");
body {
  margin: auto;
}

header {
  background-color: #fff;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5%;
  margin-left: 0;
}

header .fleche i {
  margin-top: 9%;
  margin-right: 0;
  margin-bottom: 0%;
  margin-left: 5%;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo img {
  width: 50%;
  height: 30%;
  margin-top: -7%;
  margin-right: 0;
  margin-bottom: 0%;
  margin-left: 0;
}

main img {
  width: 100%;
  height: 20%;
  margin-top: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  margin-left: 0;
}

.section_principale {
  background-color: #F3F1F1;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 4%;
  padding-right: 6%;
  padding-bottom: 10%;
  padding-left: 6%;
  margin-top: -12%;
  margin-right: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  position: relative;
}

.section_principale .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section_principale .titre h1 {
  font-family: "Shrikhand", cursive;
  font-size: 160%;
}

.section_principale .titre i {
  font-size: 140%;
  margin-top: 7%;
  margin-right: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
}

.section_principale .type {
  font-family: "Roboto";
  border-bottom: 2px solid #99E2D0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0%;
  margin-right: 89%;
  margin-bottom: 0%;
  margin-left: 0%;
}

.section_principale .extra_marge {
  margin-top: 10%;
  margin-right: 89%;
  margin-bottom: 0%;
  margin-left: 0%;
}

.section_principale .menu {
  font-family: "Roboto";
  background-color: #fff;
  border-radius: 10px;
  padding-top: 0%;
  padding-right: 4%;
  padding-bottom: 1%;
  padding-left: 3%;
  -webkit-box-shadow: 1px 1px 8px #DEDADA;
          box-shadow: 1px 1px 8px #DEDADA;
  margin-top: 0;
  margin-right: -1%;
  margin-bottom: 0;
  margin-left: -1%;
}

.section_principale .menu h4 {
  margin-bottom: -3%;
  padding-top: 3%;
  padding-right: 30%;
}

.section_principale .menu p {
  font-size: 90%;
}

.section_principale .menu .prix_accompagnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section_principale button {
  margin-top: 10%;
  margin-right: 25%;
  margin-bottom: 0;
  margin-left: 25%;
  padding-top: 4%;
  padding-right: 10%;
  padding-bottom: 4%;
  padding-left: 10%;
  border-radius: 30px;
  font-family: "Roboto";
  font-weight: 900;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to right, #FF79DA, #9356DC);
  border: none;
}

footer {
  background-color: #484949;
  padding-top: 5%;
  padding-right: 0;
  padding-bottom: 5%;
  padding-left: 0;
}

footer h3 {
  font-family: "Shrikhand", cursive;
  color: #fff;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 10%;
}

footer li {
  list-style-type: none;
  font-family: "Roboto";
  color: #fff;
  font-size: 80%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 3%;
  margin-left: 0;
}

footer li i {
  margin-top: 0;
  margin-right: 4%;
  margin-bottom: 0;
  margin-left: 0;
}

footer li a {
  text-decoration: none;
  font-family: "Roboto";
  color: #fff;
}
/*# sourceMappingURL=page_menu.css.map */