@import "./base/base";
@import "./utils/variables";

body
{
  margin: auto;
}

.logo
{
  background-color: $blanc;
  @include position_centre;
    img{
      @include taille_image(50%,30%);
      @include marge(5%,0,5%,0);
    }
  box-shadow: 2px 12px 12px -10px #9C9B82;
 
}

.localisation
{

  background-color: $gris;
  @include position_centre;
    p{
      font-family: $roboto;
      font-weight: 800;
      font-size: 110%;
    }
    i{
      @include marge(5%,5%,0,-10%);
    }

}

.presentation_page
{
  font-family: $roboto;
  background-color: $gris-clair;
  @include padding(3%,0,12%,0 );
    h1
    {
      font-weight: 800;
      font-size: 130%;
      @include marge(5%,20% ,5% ,20% );
      text-align: center;
    }
    p
    {
      font-size: 110%;
      @include marge(0%,5% ,6% ,5% );
      text-align: center;
    }
    button
    {
      @include marge(0%,25% ,0 ,25%);
      @include padding(4%,3% ,4% ,3%);
      border-radius: 30px;
      font-family: $roboto;
      font-weight: 900;
      color: $blanc;
      font-size: 90%;
      background: linear-gradient(to right,$rose, $violet);
      border: none;
      box-shadow: 2px 2px 12px #aaa;
    }
}

.fonctionnement
{
  font-family: $roboto;
  h1
  {
    font-weight: 800;
    font-size: 130%;
    @include marge(8%,0,3%,5% )
  }
  .choix
  {
    display: flex;
    @include marge(0,0 ,8% ,0 );
    .numero
    {
      p
      {
        font-size: 90%;
        background-color: $violet;
        color: $blanc;
        border-radius: 100px;
        position: absolute;
        @include marge(4%,0 ,0 ,5%);
        @include padding(2%,3% ,2% ,3% );
        text-align: center;
      }
    }
    .bulle
    {
      display: flex;
      @include marge(0,2% ,0 ,8%);
      border-radius: 20px;
      background-color: $gris-clair;
      @include padding(3%,25% ,3% ,15%);
      box-shadow: 1px 1px 8px #aaa;
      p
      {
        display: flex;
        font-size: 90%;
        font-weight: 800;    
      }   
      i
      {
        @include marge(8%,10%,0%,-10%);
        color: $gris-fonce;
      } 
    }
  }
}

.restaurants
{
  font-family: $roboto;
  background-color: $gris-clair;
  @include padding(5%,0 ,5% ,0 );
  a
  {
    text-decoration: none;
  }
  h1
  {
    font-weight: 800;
    font-size: 130%;
    @include marge(8%,0,4%,5% )
  }
  .carte_restaurant
  {
    width: 340px;
    height: 200px;
    margin: auto;
    margin-bottom: 20%;
    img
    {
      width: 340px;
      height: 200px;
      object-fit: cover;
      border-radius: 30px; 
    }
    .nouveau 
    {
      p
      {
      font-size: 80%;
      color: $vert-fonce;
      background-color: $vert;
      font-weight: 800;
      @include padding(2%,4%,2%,4% );
      @include marge(4%,0,0,53%);
      position:absolute;
      }
    }
    .detail_restaurant
    {
      display: flex;
      justify-content: space-around;
      background-color: $blanc;
      position: relative;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      margin: auto;
      margin-top: -10%;
      .texte_restaurant
      {
        font-family: $roboto;
        color: $noir;
        font-size: 90%;
        @include marge(0,0 ,0 ,5% );
        p{
          @include marge(-10%,0 ,0 ,0);
          @include padding(0%,0%,15%,0%);
        }
      }
      i
      {
        @include marge(6%, 0 ,0 ,30%);
        font-size: 130%;
        
      }
    }
  }

}

footer
{
  background-color:$gris-noir;
  @include padding(5%, 0 ,5% ,0 );
  h3
  {
    font-family: $shrikhand;
    color: $blanc;
    @include marge(0,0,0 ,10% );

  }
  li
  {
    list-style-type: none;
    font-family: $roboto;
    color: $blanc;
    font-size: 80%;
    @include marge(0,0,3%,0);
    i
    {
      @include marge(0,4% ,0,0 );
    }
    a
    {
      text-decoration: none;
      font-family: $roboto;
      color: $blanc;
    }
  }

}





