@import "./base/base";
@import "./utils/variables";

body
{
  margin: auto;
}

header
{
  display: flex;
  justify-content: space-between;
  background-color: $blanc;
  box-shadow: 2px 12px 10px -10px #9C9B82;
  .logo
  {
    img{
      @include taille_image(50%,40%);
      @include marge(10%,0,7%,15%);
    }

  }
  .localisation
  {

    @include marge(2%,5%,0,10%);
    @include position_centre;
      p{
        font-family: $roboto;
        font-weight: 800;
        font-size: 110%;
      }
      i{
        @include marge(16%,10%,0,-10%);
      }

  }
}


.presentation_page
{
  font-family: $roboto;
  background-color: $gris-clair;
  @include padding(3%,0 ,3%,0 );
    h1
    {
      font-weight: 800;
      font-size: 130%;
      text-align: center;
    }
    p
    {
      font-size: 100%;
      text-align: center
    }
    button
    {
      @include marge(0%,43% ,0 ,43%);
      @include padding(2%,2% ,2% ,2%);
      border-radius: 30px;
      font-family: $roboto;
      font-weight: 900;
      color: $blanc;
      background: linear-gradient(to right,$rose, $violet);
      border: none;
      box-shadow: 2px 2px 12px #aaa;
      &:hover
      {
        filter: brightness(120%);
        box-shadow: 2px 2px 12px $gris-noir;
      }
    }
}

.fonctionnement
{
  font-family: $roboto;
  h1
  {
    font-weight: 800;
    font-size: 130%;
    @include marge(2%,0,3%,45% )
  }
  .cartes
  {
    .choix
    {
      display: flex;
      @include marge(0,0 ,2% ,38%);
      .numero
      {
        p
        {
          font-size: 90%;
          background-color: $violet;
          color: $blanc;
          border-radius: 100px;
          position: absolute;
          @include marge(0.5%,0 ,0 ,2%);
          @include padding(1%,1% ,1% ,1% );
          text-align: center;
        }
      }
      .bulle
      {
        display: flex;
        @include marge(0,2% ,0 ,5%);
        border-radius: 20px;
        background-color: $gris-clair;
        @include padding(1%,10% ,1% ,6%);
        box-shadow: 1px 1px 8px #aaa;
        i
        {
          @include marge(9%,10%,0%,-10%);
          color: $gris-fonce;
        } 
        p
        {
          display: flex;
          font-size: 90%;
          font-weight: 800;    
        }  
        &:hover
        {
          background-color: #f5edff;
          i{
            color: $violet;
          }
        } 
       
      }
    }
  } 
}

.restaurants
{
  font-family: $roboto;
  background-color: $gris-clair;
  @include padding(1%,0 ,1% ,0 );
  a
  {
    text-decoration: none;
  }
  h1
  {
    font-weight: 800;
    font-size: 140%;
    @include marge(2%,0,2%,45%)
  }
  .carte_restaurant
  {
    margin: auto;
    height: 400px;
    width: 600px;
    margin-bottom: 10%;
    img
    {
      height: 400px;
      width: 600px;
      border-radius: 30px; 
      object-fit: cover;
    }
    .nouveau 
    {
      p
      {
      font-size: 100%;
      color: $vert-fonce;
      background-color: $vert;
      font-weight: 800;
      @include padding(1%,2%,1%,2% );
      @include marge(2%,0,0,30%);
      position:absolute;
      }
    }
    .detail_restaurant
    {
      display: flex;
      justify-content: space-around;
      background-color: $blanc;
      position: relative;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      margin: auto;
      margin-top: -10%;
      .texte_restaurant
      {
        font-family: $roboto;
        color: $noir;
        font-size: 100%;
        @include marge(0,0 ,0 ,2%);
        @include padding(2%,50%,2%,0%);
        p{
          @include padding(0%,0%,15%,0%);
        }
      }
      .coeur
      {
        span.coeur_plein
        {
          display: none;
        }
        span.coeur_vide
        {
          i
          {
          font-size: 130%;
          margin-top: 200%;
          }
        }
        &:hover
        {
          span.coeur_vide
          {
            display: none;
          }
          span.coeur_plein
          {
            display: block;
            i
            {
            font-size: 130%;
            margin-top: 200%;
            }

          }
          
        }
      }
    }
  }

}

footer
{
  background-color:$gris-noir;
  @include padding(2%, 0 ,2% ,0 );
  h3
  {
    font-family: $shrikhand;
    font-size: 160%;
    color: $blanc;
    @include marge(0,0,0 ,2% );

  }
  li
  {
    list-style-type: none;
    font-family: $roboto;
    color: $blanc;
    font-size: 100%;
    @include marge(0,0,3%,0);
    i
    {
      @include marge(0,1% ,0,0 );
    }
    a
    {
      text-decoration: none;
      font-family: $roboto;
      color: $blanc;
    }
  }

}

