@import "./base/base";
@import "./utils/variables";


body
{
  margin: auto;
  position: relative;
  opacity: 0;
  animation: test 4s 1;
  animation-fill-mode: forwards;
}

@keyframes test {
  to {
    opacity: 1;    
  }
}

/*loading spinner de la page principale*/
body .spinner {
  content: "";
  position: absolute;
  margin-top: 60%;
  margin-left: 25%;
  border: 15px solid $gris;
  border-top: 15px solid $violet;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: loading 2s 2;
  animation-fill-mode: forwards;
}

@keyframes loading {
  to {
    visibility: hidden;
    transform: rotate(360deg);       
  }
}

header
{
  background-color: $blanc;
  .logo
  {
    box-shadow: 0px 2px 4px $gris-fonce;
    position: relative;
    text-align: center;
      img{
        @include taille_image(50%,30%);
        margin-top: 5%;
        margin-bottom: 2%;
      }
  }
  .localisation
  {
    background-color: $gris;
    display: flex;
    justify-content: center;
    align-items: center;
      p{
        font-family: $roboto;
        font-weight: 800;
        font-size: 110%;
      }
      i{
        font-size: 1.2em;
        padding-right: 4%;
      }

  }
}

.presentation_page
{
  font-family: $roboto;
  background-color: $gris-clair;
  @include padding(3%,0,12%,0 );
    h1
    {
      font-weight: 800;
      font-size: 1.5em;
      @include marge(5%,20%,5%,20%);
      text-align: center;
    }
    p
    {
      font-size: 1.2em;
      @include marge(0%,5% ,6% ,5% );
      text-align: center;
    }
    button
    {
      margin: auto;
      display: block;
      @include padding(2.5%,4% ,2.5% ,4%);
      border-radius: 30px;
      font-family: $roboto;
      font-weight: 900;
      color: $blanc;
      font-size: 90%;
      background: linear-gradient(to right,$rose, $violet);
      border: none;
      box-shadow: 2px 2px 12px #aaa;
      &:hover
      {
        filter: brightness(120%);
        box-shadow: 2px 2px 12px $gris-noir;
        cursor: pointer;
      }
    }
}

.fonctionnement
{
  font-family: $roboto;
  h1
  {
    font-weight: 800;
    font-size: 130%;
    @include marge(8%,0,5%,5% )
  }
  .choix
  {
    display: flex;
    display: block;
    margin: auto;
    @include marge(0,0 ,8% ,0 );
    .numero
    {
      p
      {
        font-size: 90%;
        background-color: $violet;
        color: $blanc;
        border-radius: 100px;
        position: absolute;
        @include marge(4%,0 ,0 ,5%);
        @include padding(2%,3% ,2% ,3% );
        text-align: center;
      }
    }
    .bulle
    {
      display: flex;
      @include marge(0,8% ,0 ,8%);
      border-radius: 20px;
      background-color: $gris-clair;
      @include padding(3%,0% ,3% ,15%);
      box-shadow: 1px 1px 8px #aaa;
      p
      {
        display: flex;
        font-size: 90%;
        font-weight: 800;    
      }   
      i
      {
        @include marge(6%,10%,0%,-10%);
        color: $gris-fonce;
      } 
      &:hover
      {
        background-color: #f5edff;
        cursor: pointer;
        i{
          color: $violet;
        }
      } 
    }
  }
}

.restaurants
{
  font-family: $roboto;
  background-color: $gris-clair;
  @include padding(5%,0 ,5% ,0 );
  a
  {
    text-decoration: none;
  }
  .lien_resto{
    padding-right: 30%;
  }
  h1
  {
    font-weight: 800;
    font-size: 130%;
    @include marge(8%,0,6%,5% )
  }
  .carte_restaurant
  {
    width: 90%;
    height: 250px;
    margin: auto;
    margin-bottom: 20%;
    img
    {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-radius: 30px; 
    }
    .nouveau 
    {
      @include marge(4%,10%,0,70%);
      p
      {
      font-size: 80%;
      color: $vert-fonce;
      background-color: $vert;
      font-weight: 900;
      @include padding(2%,4%,2%,4% );
      position:absolute;
      }
    }
    .detail_restaurant
    {
      display: flex;
      justify-content: space-around;
      background-color: $blanc;
      position: relative;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      margin: auto;
      margin-top: -10%;
      .texte_restaurant
      {
        font-family: $roboto;
        color: $noir;
        font-size: 90%;
        @include marge(0,0 ,0 ,-60%);
        @include padding(0%,0%,0%,10%);
        p{
          @include marge(-10%,0 ,0 ,0);
          @include padding(0%,0%,15%,0%);
        }
      }
      .coeur {
        position: absolute;
        margin-top: 7%;
        margin-left: 70%;
        .fas {
          opacity: 0;
          transition: all 0.2s linear;
          background: linear-gradient($violet,$rose);
          //pour enlever ce qui est en trop
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          color: transparent;
          transform: scale(1.1);
          &:hover {
            opacity: 1;
            animation: 0.8s 0s 1 both transition;
            @keyframes transition {
              from {
                opacity: 0;
              }
              to {
                opacity: 1;
              }
            }
          }
        }
      }
      .coeur .fas,
      .coeur .far {
        position: absolute;
        font-size: 140%;
        color: $noir;
        margin-top: -20%;
      }
      
    }
  }

}

footer
{
  background-color:$gris-noir;
  @include padding(5%,0,5%,0);
  h3
  {
    font-family: $shrikhand;
    color: $blanc;
    margin-left: 40px;
  }
  li
  {
    list-style-type: none;
    font-family: $roboto;
    color: $blanc;
    font-size: 80%;
    margin-bottom: 3%;
    i
    {
      @include marge(0,4%,0,0);
    }
    a
    {
      text-decoration: none;
      font-family: $roboto;
      color: $blanc;
    }
  }

}

//pour ordinateur
@media screen and (min-width : 992px)
{
  body{
    .spinner{
      margin-left: 43%;
      margin-top: 20%;
    }
  }
  header
  {
    .logo{
      img{
      @include taille_image(20%,10%);
      margin-top: 2%;
      }
    }
    .localisation{
      i{
        padding-right: 2%;
      }
    }
  }

  .presentation_page
  {
    @include padding(3%,0 ,3%,0 );
    h1, p
    {
      margin: auto;
      margin-bottom: 2%;
    }
    button{
      @include padding(1%,2% ,1% ,2%);
    }
  }

  .fonctionnement
  {
    h1
    {
      @include marge(2%,0,3%,45% )
    }
    .choix
    {
      display: flex;
      @include marge(0,0 ,2% ,38%);
      .numero
      {
        p
        {
          @include marge(0.5%,0 ,0 ,2%);
          @include padding(1%,1% ,1% ,1% );
        }
      }
      .bulle
      {
        @include marge(0,2% ,0 ,5%);
        @include padding(1%,10% ,1% ,6%);
        i
        {
          @include marge(9%,10%,0%,-10%);
        }
      }
    }

  }

  .restaurants
  {
    @include padding(1%,0 ,1% ,0 );
    h1
    {
      @include marge(2%,0,2%,45%)
    }
    .carte_restaurant
    {
      height: 600px;
      width: 50%;
      margin-bottom: -5%;
      img
      {
        height: 400px;
        width: 100%;
      }
      .nouveau
      {
        @include marge(2%,10%,0,75%);
        p
        {
          @include padding(1%,2%,1%,2% );
          font-size: 1em;
        }
      }
      .detail_restaurant
      {
        .texte_restaurant
        {
          @include marge(0,0 ,0 ,-60%);
          @include padding(1%,0%,1%,0%);
          font-size: 110%;
          p
          {
            @include padding(0%,0%,15%,0%);
            
          }
        }
        .coeur {
          position: absolute;
          margin-top: 5%;
          margin-left: 80%;
          .fas {
            opacity: 0;
            transition: all 0.2s linear;
            background: linear-gradient($violet,$rose);
            //pour enlever ce qui est en trop
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
            transform: scale(1.1);
            &:hover {
              opacity: 1;
              animation: 0.8s 0s 1 both transition;
              @keyframes transition {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
              }
            }
          }
        }
        .coeur .fas,
        .coeur .far {
          position: absolute;
          font-size: 180%;
          color: $noir;
          margin-top: -20%;
        }
      }
    }
  }

  footer
  {
    @include padding(2%, 0 ,2% ,0 );
    h3
    {
      font-size: 160%;
    }
    li
    {
      font-size: 100%;
      i
      {
       margin-right: 1%;
      }
    }
  }
}

//pour tablette
@media screen and  (min-width : 766px) and (max-width : 991px)
{
  body
  {
    .spinner
    {
      margin-left: 35%;
    }
  }
  header
  {
    .logo{
      img{
      @include taille_image(40%,10%);
      margin-top: 2%;
      }
    }
    .localisation{
      i{
        padding-right: 2%;
      }
    }
  }
  .presentation_page
  {
    @include padding(3%,0 ,3%,0 );
    h1, p
    {
      margin: auto;
      margin-bottom: 2%;
    }
    button{
      @include padding(1%,2% ,1% ,2%);
    }
  }
  .fonctionnement
  {
    h1
    {
      text-align: center;
      @include marge(2%,0,3%,0 )
    }
    .choix
    {
      display: flex;
      @include marge(0,0%,2% ,30%);
      .numero
      {
        p
        {
          @include marge(1%,0 ,0 ,2%);
          @include padding(1%,1% ,1% ,1% );
        }
      }
      .bulle
      {
        @include marge(0,2% ,0 ,5%);
        @include padding(1%,10% ,1% ,10%);
        i
        {
          @include marge(9%,10%,0%,-10%);
        }
      }
    }

  }
  .restaurants
  {
    @include padding(1%,0 ,1% ,0 );
    h1
    {
      @include marge(2%,0,2%,45%)
    }
    .carte_restaurant
    {
      height: 400px;
      width: 80%;
      margin-bottom: 15%;
      img
      {
        height: 400px;
        width: 100%;
      }
      .nouveau
      {
        @include marge(2%,5%,0,75%);
        p
        {
          @include padding(2%,3%,2%,3% );
        }
      }
      .detail_restaurant
      {
        .texte_restaurant
        {
          @include marge(0,0 ,0 ,-60%);
          @include padding(1%,0%,1%,0%);
          font-size: 110%;
          p
          {
            @include padding(0%,0%,15%,0%);
            
          }
        }
        .coeur{
          margin-left: 80%;
          .fas, .far{
            font-size: 160%;
          }
        }
      }
    }
  }

  footer
  {
    @include padding(2%, 0 ,2% ,0 );
    h3
    {
      font-size: 160%;
    }
    li
    {
      font-size: 100%;
    }
  }
}







