@import "./base/base";
@import "./utils/variables";


body
{
  margin: auto;
}


/*loading spinner de la page principale*/

header
{
  background-color: $blanc;
  box-shadow: 2px 12px 12px -10px #9C9B82;
  .logo
  {
    @include position_centre;
      img{
        @include taille_image(50%,30%);
        @include marge(5%,0,5%,0);
      }
  }
  .localisation
  {

    background-color: $gris;
    @include position_centre;
      p{
        font-family: $roboto;
        font-weight: 800;
        font-size: 110%;
      }
      i{
        @include marge(5%,5%,0,-10%);
      }

  }
}

.presentation_page
{
  font-family: $roboto;
  background-color: $gris-clair;
  @include padding(3%,0,12%,0 );
    h1
    {
      font-weight: 800;
      font-size: 130%;
      @include marge(5%,20%,5%,20%);
      text-align: center;
    }
    p
    {
      font-size: 110%;
      @include marge(0%,5% ,6% ,5% );
      text-align: center;
    }
    button
    {
      margin: auto;
      display: block;
      @include padding(4%,4% ,4% ,4%);
      border-radius: 30px;
      font-family: $roboto;
      font-weight: 900;
      color: $blanc;
      font-size: 90%;
      background: linear-gradient(to right,$rose, $violet);
      border: none;
      box-shadow: 2px 2px 12px #aaa;
      &:hover
      {
        filter: brightness(120%);
        box-shadow: 2px 2px 12px $gris-noir;
      }
    }
}

.fonctionnement
{
  font-family: $roboto;
  h1
  {
    font-weight: 800;
    font-size: 130%;
    @include marge(8%,0,5%,5% )
  }
  .choix
  {
    display: flex;
    display: block;
    margin: auto;
    @include marge(0,0 ,8% ,0 );
    .numero
    {
      p
      {
        font-size: 90%;
        background-color: $violet;
        color: $blanc;
        border-radius: 100px;
        position: absolute;
        @include marge(4%,0 ,0 ,5%);
        @include padding(2%,3% ,2% ,3% );
        text-align: center;
      }
    }
    .bulle
    {
      display: flex;
      @include marge(0,8% ,0 ,8%);
      border-radius: 20px;
      background-color: $gris-clair;
      @include padding(3%,0% ,3% ,15%);
      box-shadow: 1px 1px 8px #aaa;
      p
      {
        display: flex;
        font-size: 90%;
        font-weight: 800;    
      }   
      i
      {
        @include marge(6%,10%,0%,-10%);
        color: $gris-fonce;
      } 
      &:hover
      {
        background-color: #f5edff;
        i{
          color: $violet;
        }
      } 
    }
  }
}

.restaurants
{
  font-family: $roboto;
  background-color: $gris-clair;
  @include padding(5%,0 ,5% ,0 );
  a
  {
    text-decoration: none;
  }
  h1
  {
    font-weight: 800;
    font-size: 130%;
    @include marge(8%,0,6%,5% )
  }
  .carte_restaurant
  {
    width: 340px;
    height: 200px;
    margin: auto;
    margin-bottom: 20%;
    img
    {
      width: 340px;
      height: 200px;
      object-fit: cover;
      border-radius: 30px; 
    }
    .nouveau 
    {
      p
      {
      font-size: 80%;
      color: $vert-fonce;
      background-color: $vert;
      font-weight: 800;
      @include padding(2%,4%,2%,4% );
      @include marge(4%,0,0,65%);
      position:absolute;
      }
    }
    .detail_restaurant
    {
      display: flex;
      justify-content: space-around;
      background-color: $blanc;
      position: relative;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      margin: auto;
      margin-top: -10%;
      .texte_restaurant
      {
        font-family: $roboto;
        color: $noir;
        font-size: 90%;
        @include marge(0,0 ,0 ,-10%);
        @include padding(0%,20%,0%,10%);
        p{
          @include marge(-10%,0 ,0 ,0);
          @include padding(0%,0%,15%,0%);
        }
      }
      .coeur
      {
        span.coeur_plein
        {
          display: none;
        }
        span.coeur_vide
        {
          i
          {
          font-size: 130%;
          margin-top: 120%;
          }
        }
        &:hover
        {
          span.coeur_vide
          {
            display: none;
          }
          span.coeur_plein
          {
            display: block;
            i
            {
            font-size: 130%;
            margin-top: 200%;
            }

          }
          
        }
      }
      
    }
  }

}

footer
{
  background-color:$gris-noir;
  @include padding(5%,0,5%,0);
  h3
  {
    font-family: $shrikhand;
    color: $blanc;
    @include marge(0,0,0,10%);

  }
  li
  {
    list-style-type: none;
    font-family: $roboto;
    color: $blanc;
    font-size: 80%;
    @include marge(0,0,3%,0);
    i
    {
      @include marge(0,4%,0,0);
    }
    a
    {
      text-decoration: none;
      font-family: $roboto;
      color: $blanc;
    }
  }

}

/*pour ordinateur*/
@media screen and (min-width : 992px)
{

  header
  {
    display: flex;
    justify-content: space-between;
    .logo{
      img{
      @include marge(10%,0,7%,15%);
      @include taille_image(50%,40%);
      }
    }
    .localisation{
      @include marge(2%,5%,0,10%);
      background-color: $blanc;
      i{
        
        @include marge(16%,10%,0,-10%);
      }
    }
  }

  .presentation_page
  {
    @include padding(3%,0 ,3%,0 );
    h1, p
    {
      margin: auto;
      margin-bottom: 2%;
    }
    button{
      @include padding(2%,2% ,2% ,2%);
    }
  }

  .fonctionnement
  {
    h1
    {
      @include marge(2%,0,3%,45% )
    }
    .choix
    {
      display: flex;
      @include marge(0,0 ,2% ,38%);
      .numero
      {
        p
        {
          @include marge(0.5%,0 ,0 ,2%);
          @include padding(1%,1% ,1% ,1% );
        }
      }
      .bulle
      {
        @include marge(0,2% ,0 ,5%);
        @include padding(1%,10% ,1% ,6%);
        i
        {
          @include marge(9%,10%,0%,-10%);
        }
      }
    }

  }

  .restaurants
  {
    @include padding(1%,0 ,1% ,0 );
    h1
    {
      @include marge(2%,0,2%,45%)
    }
    .carte_restaurant
    {
      height: 400px;
      width: 600px;
      margin-bottom: 5%;
      img
      {
        height: 400px;
        width: 600px;
      }
      .nouveau
      {
        p
        {
          @include padding(1%,2%,1%,2% );
          @include marge(2%,0,0,30%);
        }
      }
      .detail_restaurant
      {
        .texte_restaurant
        {
          @include marge(0,0 ,0 ,0%);
          @include padding(1%,40%,1%,0%);
          font-size: 110%;
          p
          {
            @include padding(0%,0%,15%,0%);
            
          }
        }
        .coeur
        {
          span.coeur_vide
          {
            i
            {
            font-size: 130%;
            margin-top: 200%;
            }
          }
        }
      }
    }
  }

  footer
  {
    @include padding(2%, 0 ,2% ,0 );
    h3
    {
      font-size: 160%;
      @include marge(0,0,2% ,2% );
    }
    li
    {
      font-size: 100%;
      i
      {
        @include marge(0,1% ,0,0 );
      }
    }
  }
}

@media screen and  (min-width : 766px) and (max-width : 991px)
{
  header
  {
    display: flex;
    justify-content: space-between;
    .logo{
      img{
      @include marge(10%,0,7%,0%);
      @include taille_image(40%,40%);
      }
    }
    .localisation{
      @include marge(4%,10%,0,0%);
      background-color: $blanc;
      i{
        @include marge(16%,10%,0,-10%);
      }
    }
  }
  .presentation_page
  {
    @include padding(3%,0 ,3%,0 );
    h1, p
    {
      margin: auto;
      margin-bottom: 2%;
    }
    button{
      @include padding(2%,2% ,2% ,2%);
    }
  }
  .fonctionnement
  {
    h1
    {
      text-align: center;
      @include marge(2%,0,3%,0 )
    }
    .choix
    {
      display: flex;
      @include marge(0,0%,2% ,30%);
      .numero
      {
        p
        {
          @include marge(1%,0 ,0 ,2%);
          @include padding(1%,1% ,1% ,1% );
        }
      }
      .bulle
      {
        @include marge(0,2% ,0 ,5%);
        @include padding(1%,10% ,1% ,10%);
        i
        {
          @include marge(9%,10%,0%,-10%);
        }
      }
    }

  }
  .restaurants
  {
    @include padding(1%,0 ,1% ,0 );
    h1
    {
      @include marge(2%,0,2%,45%)
    }
    .carte_restaurant
    {
      height: 400px;
      width: 600px;
      margin-bottom: 15%;
      img
      {
        height: 400px;
        width: 600px;
      }
      .nouveau
      {
        p
        {
          @include padding(2%,3%,2%,3% );
          @include marge(2%,0,0,63%);
        }
      }
      .detail_restaurant
      {
        .texte_restaurant
        {
          @include marge(0,0 ,0 ,0%);
          @include padding(1%,40%,1%,0%);
          font-size: 110%;
          p
          {
            @include padding(0%,0%,15%,0%);
            
          }
        }
        .coeur
        {
          span.coeur_vide
          {
            i
            {
            font-size: 130%;
            margin-top: 200%;
            }
          }
        }
      }
    }
  }

  footer
  {
    @include padding(2%, 0 ,2% ,0 );
    h3
    {
      font-size: 160%;
      @include marge(0,0,2% ,2% );
    }
    li
    {
      font-size: 100%;
      i
      {
        @include marge(0,1% ,0,0 );
      }
    }
  }
}







