@import "./base/base";
@import "./utils/variables";

body
{
  margin: auto;
}

header
{
  display: flex;
  justify-content: space-between;
  background-color: $blanc;
  box-shadow: 2px 12px 10px -10px #9C9B82;
  .logo
  {
    img{
      @include taille_image(40%,40%);
      @include marge(10%,0,7%,15%);
    }

  }
  .localisation
  {

    @include marge(3%,5%,0,10%);
    @include position_centre;
      p{
        font-family: $roboto;
        font-weight: 800;
        font-size: 110%;
      }
      i{
        @include marge(16%,10%,0,-10%);
      }

  }
}


.presentation_page
{
  font-family: $roboto;
  background-color: $gris-clair;
  @include padding(3%,0 ,3%,0 );
    h1
    {
      font-weight: 800;
      font-size: 130%;
      @include marge(0,0%,1%,30%);
    }
    h3
    {
      font-size: 110%;
      @include marge(0,0%,2%,20%);
    }
    button
    {
      @include marge(0%,0% ,0 ,40%);
      @include padding(2%,2% ,2% ,2%);
      border-radius: 30px;
      font-family: $roboto;
      font-weight: 900;
      color: $blanc;
      background: linear-gradient(to right,$rose, $violet);
      border: none;
      box-shadow: 2px 2px 12px #aaa;
    }
}

.fonctionnement
{
  font-family: $roboto;
  h1
  {
    font-weight: 800;
    font-size: 130%;
    @include marge(2%,0,3%,40% )
  }
  .choix
  {
    display: flex;
    @include marge(0,0 ,2% ,30%);
    .numero
    {
      p
      {
        font-size: 90%;
        background-color: $violet;
        color: $blanc;
        border-radius: 100px;
        position: absolute;
        @include marge(1%,0 ,0 ,2%);
        @include padding(1%,1% ,1% ,1% );
        text-align: center;
      }
    }
    .bulle
    {
      display: flex;
      @include marge(0,2% ,0 ,5%);
      border-radius: 20px;
      background-color: $gris-clair;
      @include padding(1%,10% ,1% ,6%);
      box-shadow: 1px 1px 8px #aaa;
      p
      {
        display: flex;
        font-size: 90%;
        font-weight: 800;    
      }   
      i
      {
        @include marge(9%,10%,0%,-10%);
        color: $gris-fonce;
      } 
    }
  }
}

.restaurants
{
  font-family: $roboto;
  background-color: $gris-clair;
  @include padding(1%,0 ,1% ,0 );
  a
  {
    text-decoration: none;
  }
  h1
  {
    font-weight: 800;
    font-size: 140%;
    @include marge(2%,0,0%,40%)
  }
  .carte_restaurant
  {
    @include marge(5%,15%,0,15%);
    img
    {
      @include taille_image(90%,40%);
      margin-left: 5%;
      border-radius: 30px; 
    }
    .test
    {
      height: 322px;
      width: 510px;
      text-align: center; /* On centre l'image dans le div */
      overflow: hidden; 
      border-radius: 30px;
      img{
        height: 322px;
        width: 510px;
        margin-left: 6%;
      }
    }
    .nouveau 
    {
      p
      {
      font-size: 100%;
      color: $vert-fonce;
      background-color: $vert;
      font-weight: 800;
      @include padding(2%,3%,2%,3% );
      @include marge(2%,0,0,50%);
      position:absolute;
      }
    }
    .detail_restaurant
    {
      display: flex;
      background-color: $blanc;
      position: relative;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      @include marge(-10%,5%,10% ,5%);
      .texte_restaurant
      {
        font-family: $roboto;
        color: $noir;
        font-size: 100%;
        @include marge(0,0 ,0 ,2% );
        @include padding(2%,0%,2%,0%);

        p{
          @include marge(10%,0 ,0 ,0);
          @include padding(0%,0%,15%,0%);
        }
      }
      i
      {
        @include marge(6%, 0 ,0 ,60%);
        font-size: 130%;
        
      }
    }
  }

}

footer
{
  background-color:$gris-noir;
  @include padding(2%, 0 ,2% ,0 );
  h3
  {
    font-family: $shrikhand;
    font-size: 160%;
    color: $blanc;
    @include marge(0,0,0 ,4% );

  }
  li
  {
    list-style-type: none;
    font-family: $roboto;
    color: $blanc;
    font-size: 100%;
    @include marge(0,0,3%,0);
    i
    {
      @include marge(0,1% ,0,0 );
    }
    a
    {
      text-decoration: none;
      font-family: $roboto;
      color: $blanc;
    }
  }

}

